html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	width: 100%;
}

body {
	margin: 0;
	color: #ccc;
	background: #000;
}

a {
	color: #fff;
}

#page {
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
}

body.eo1 #page {
	max-width: none;
}

#msgs {
	font: 14px/20px menlo, monospace;
	padding: 0 1em;
	background: #111;
	color: #ccc;
	min-height: 100vh;
}

body.eo1 #msgs {
	font-size: 18px;
	line-height: 25px;
	background: #000;
}

#msgs p {
	margin: 10px 0 0 0;
	border-top: 1px solid #333;
	padding: 10px 0 0 0;
}

#msgs p:first-child {
	border-top: none;
	margin-top: 0;
}

#msgs p:last-child {
	padding-bottom: 10px;
}

.website {
	float: right;
}

form {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #808080;
	margin-bottom: 0;
	max-width: 750px;
	transition: bottom 0.25s ease-out;
}

body.eo1 form {
	max-width: none;
}

.avatar {
	position: absolute;
	width: 48px;
	height: 48px;
	border-radius: 5px;
	background: #ccc;
	overflow: hidden;
}

#avatar {
	left: 10px;
	top: 10px;
}

.avatar .icon {
	display: block;
	margin: 5px;
	width: 38px;
	height: 38px;
	background-image: url('avatars-white.png');
	background-size: 190px 190px;
}

.avatar.black-icon .icon {
	background-image: url('avatars-black.png');
}

.avatar .relative {
	position: relative;
}

#avatar input {
	position: absolute;
	width: 48px;
	height: 48px;
	opacity: 0;
}

#avatar video {
	position: absolute;
	top: 0;
	left: -130px;
	width: 128px;
	height: 96px;
}

#avatar canvas {
	position: absolute;
	width: 48px;
	height: 48px;
	top: -5px;
	left: 0;
}

textarea {
	display: block;
	font: 14px/22px menlo, monospace;
	width: 100%;
	height: 62px;
	border: none;
	padding: 10px 1em;
	margin: 3px 0;
	color: #ccc;
	background: #222;
	border-radius: 0;
	-webkit-appearance: none;
}

textarea:focus {
	outline: none;
}

.time-marker {
	color: #666;
	padding-top: 10px;
	font-size: 12px;
	margin-bottom: -8px;
}

.sms-only {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	font: 12px/20px menlo, monospace;
	padding: 10px 1em;
	margin: 0;
	background: #222;
}

body.eo1 .sms-only {
	font-size: 18px;
}

strong {
	font-weight: normal;
	color: #fff;
}

.about-link {
	float: right;
}

.relative {
	position: relative;
}

#about {
	font: 14px/20px menlo, monospace;
	padding: 1em;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	top: 0;
	transition: height 0.25s ease-out;
	overflow: hidden;
	background: #222;
}

#about.visible {
	top: auto;
	transition: height 0.25s ease-out;
	overflow: auto;
}

#about .about-link {
	position: absolute;
	right: 0.5em;
	top: 0;
}

.prompt {
	float: left;
}

.clear {
	clear: both;
}

.login-link {
	float: right;
}

.login-info {
	position: absolute;
	top: 0;
	left: 0;
	background: #333;
	width: 100%;
	font: 12px/20px menlo, monospace;
	padding: 10px 1em;
	margin: 0;
}

body.logged-in .sms-only,
body.logged-in .login-info {
	display: none;
}

textarea.msg {
	display: none;
}

body.logged-in textarea.msg {
	display: block;
}

.logout {
	display: none;
	font: 12px/20px menlo, monospace;
	position: absolute;
	right: 1em;
	top: 10px;
}

body.logged-in .logout {
	display: inline;
}
